//
// Cards
//
.card {
  @include elevation-2;

  @each $color, $value in $theme-colors {
    &.bg-#{$color} {

      .card-header {
        background-color: darken($value, 10%);
      }
    }
  }
}

.scroll-card {
  padding: 0 1.5rem;
  border: none;
  overflow: hidden;

  .card-body {
    height: 250px;
  }
}

