//
// Jumbotron
//
.jumbotron {
  @include elevation-1;
  margin-bottom: 1.5rem;

  h1 {
    .sub {
      display: block;
      font-size: 1rem;
      margin-top: .5rem;
    }
  }

  @include media-breakpoint-up(lg) {
    h1 {
      font-size: 4rem;

      .sub {
        font-size: 1.5rem
      }
    }
  }
}

.jumbotron-fluid {
  width: 100%;
}
