@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.material-icons {
  margin: 0 1rem;
  transition: all 350ms ease-in-out;

  &.md-1 {
    font-size: 1rem
  }
  &.md-2 {
    font-size: 2rem
  }
  &.md-3 {
    font-size: 3rem
  }
  &.md-4 {
    font-size: 4rem
  }
  &.md-5 {
    font-size: 5rem
  }
  &.md-6 {
    font-size: 6rem
  }
  &.md-7 {
    font-size: 7rem
  }
  &.md-8 {
    font-size: 8rem
  }
  @each $color, $value in $theme-colors {
    &.md-#{$color} {
      color: $value;
      &.md-inactive {
        color: rgba($value, 0.3);
      }
    }
  }
}